@import url(./base.css);

body{
    position: relative;
}

.side-wave{
    aspect-ratio: 200/600;
    width: 10%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/side-wave.svg");
    background-position: center;
    position: absolute;
    z-index: -1;
    display: unset;
}

.end{
    right: 0;
}

.container{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3%;
    width: 80%;
}


.tab-container{
    display: flex;
    background-color: rgb(36, 36, 36);
    width: 80%;
    /* box-sizing: border-box; */
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: space-around;

    
}

.tab{
    text-decoration: none;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 170%;
    padding: 1% 10%;
    box-sizing: border-box;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.tab:nth-child(2){
    /* border: gray 5px solid; */
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    /* padding: 1% 10%; */
}

#canvas{
    max-height: 70vh;
    min-height: 50vh;
    width: 79%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 1.5%;
    font-size: 130%;
    background: rgb(255,56,192);
    background: -moz-radial-gradient(circle, rgba(255,56,192,0.9682247899159664) 0%, rgba(168,6,218,0.9346113445378151) 100%);
    background: -webkit-radial-gradient(circle, rgba(255,56,192,0.9682247899159664) 0%, rgba(168,6,218,0.9346113445378151) 100%);
    background: radial-gradient(circle, rgba(255,56,192,0.9682247899159664) 0%, rgba(168,6,218,0.9346113445378151) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff38c0",endColorstr="#a806da",GradientType=1);
    overflow-y: auto;
}

.unit, .formula, .desc{
    padding: 1.5% 2%;
    text-align: center;
    opacity: 0.99;
    cursor: pointer;
    transition-property: font-size, background-color;
    transition: 0.2s ease;
}

.formula-container:hover .unit,.formula-container:hover .formula,.formula-container:hover .desc{
    font-size: 102%;
    /* padding: 0.9% 0%; */
    filter: grayscale(20%);
}
.formula-container:active .unit,.formula-container:active .formula,.formula-container:active .desc{
    font-size: 103%;
    /* padding: 0.9% 0%; */
    filter: grayscale(30%);
}

.unit{
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 0, 83);
    border-right: 1px solid black;
    border-left: 1px solid black;    
    border-bottom: 1px solid black;
}


.formula-container{
    display: flex;
    justify-content: flex-start;
}


.formula{
    display: flex;
    width: 42%;
    text-align: center;
    justify-content: center;
    align-items: center; 
    border-bottom: 1px solid black;
}

.red{
    background-color: red;
    color: white;
}

.green{
    background-color: var(--accent2);
}

.yellow{
    background-color: rgb(204, 204, 39);
    color: black;
}

.helper{
    background-color: rgb(201, 201, 201);
    color: rgb(0, 0, 0);
}


.desc{
    display: flex;
    width: 50%;
    background-color: rebeccapurple;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    border-left: 1px solid black;  
    border-bottom: 1px solid black;
}

.separator{
    margin-top: 1%;
    border-top: 1px solid black;
    background-color: gray;
    width: 100%;
    padding: 2% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;  
    
}
.equi-devider{
    margin-right: auto;
    margin-left: auto;
}

.x {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.x svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;

}

.x .shape-fill {
    fill: #8CFF7F;
}

::-webkit-scrollbar{
    width: 5px;
    max-height: 5px;
}

::-webkit-scrollbar-track{
    background-color: rgb(0, 167, 28);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(100, 0, 214);
}



@media screen and (max-width:800px) {
    .side-wave{
        z-index: -1;
        background-image: url("../images/sidewavemobile.svg");
        width: calc(100% + 1.3px);
        display: block;
        position: relative;
    }


    .end{
        background-position: bottom;
        margin-top: 50%;
    }

    .start{
        background-position: top;
        top: 1;
    }

    .container{
        position: absolute;
        margin: 0%;
        padding: none;
        top: 50%;
        left: 50%;
        transform: translate(-52%, 10%);
        width: 80vw;
    }
    #canvas{
        font-size: 80%;
        justify-content: center;
        width: 80vw;
    }

    .tab{
        font-size: 100%;
    }

     .desc{
        display: none;
        width: 0vw;
    }

    .formula-container{

        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .tab-container{
        overflow-x: scroll;
        padding: none;
        margin: none;
        box-sizing: border-box; 
        width: 82.5vw;
        justify-content: stretch;

    }
    .unit{
        display: none;
    }

    .formula{
        width: 70vw;
        font-size: 130%;
        justify-self: center;
        align-items: center;
    }
    .separator{
        font-size: 130%;
        width: 70vw;
        
    }
    .formula-container:active .unit,.formula-container:active .formula,.formula-container:active .desc{
        font-size: 130%;
        /* padding: 0.9% 0%; */
        filter: grayscale(30%);
    }
    .formula-container:hover .unit,.formula-container:hover .formula,.formula-container:hover .desc{
        font-size: 130%;
        /* padding: 0.9% 0%; */
        filter: grayscale(20%);
    }
}