@import url(./base.css);

body{
    position: relative;
}

.side-wave{
    display: unset;
    position: absolute;
    z-index: -1;
    width: 10%;
    height: 100vh;
    background-image: url("../images/side-wave.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    aspect-ratio: 200/600;
}

.end{
    right: 0;
}

.container{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 3%;
}


.tab-container{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    /* box-sizing: border-box; */
    padding: 1%;
    background-color: rgb(36, 36, 36);
    white-space: nowrap;
    overflow-x: auto;

    
}

.tab{
    padding: 1% 10%;
    color: transparent;
    font-size: 170%;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-background-clip: text;
    background-clip: text;
    box-sizing: border-box;
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.tab:nth-child(2){
    /* border: gray 5px solid; */
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    /* padding: 1% 10%; */
}

#canvas{
    width: 79%;
    min-height: 50vh;
    max-height: 70vh;
    margin-right: auto;
    margin-left: auto;
    padding: 2% 1.5%;
    background: rgb(255,56,192);
    background: -moz-radial-gradient(circle, rgba(255,56,192,0.9682247899159664) 0%, rgba(168,6,218,0.9346113445378151) 100%);
    background: -webkit-radial-gradient(circle, rgba(255,56,192,0.9682247899159664) 0%, rgba(168,6,218,0.9346113445378151) 100%);
    background: radial-gradient(circle, rgba(255,56,192,0.9682247899159664) 0%, rgba(168,6,218,0.9346113445378151) 100%);
    font-size: 130%;
    overflow-y: auto;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff38c0",endColorstr="#a806da",GradientType=1);
}

.unit, .formula, .desc{
    padding: 1.5% 2%;
    text-align: center;
    opacity: 0.99;
    cursor: pointer;
    transition: 0.2s ease;
    transition-property: font-size, background-color;
}

.formula-container:hover .unit,.formula-container:hover .formula,.formula-container:hover .desc{
    font-size: 102%;
    /* padding: 0.9% 0%; */
    filter: grayscale(20%);
}
.formula-container:active .unit,.formula-container:active .formula,.formula-container:active .desc{
    font-size: 103%;
    /* padding: 0.9% 0%; */
    filter: grayscale(30%);
}

.unit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8%;
    background-color: rgb(218, 0, 83);
    border-right: 1px solid black;    
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}


.formula-container{
    display: flex;
    justify-content: flex-start;
}


.formula{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42%; 
    border-bottom: 1px solid black;
    text-align: center;
}

.red{
    color: white;
    background-color: red;
}

.green{
    background-color: var(--accent2);
}

.yellow{
    color: black;
    background-color: rgb(204, 204, 39);
}

.helper{
    color: rgb(0, 0, 0);
    background-color: rgb(201, 201, 201);
}


.desc{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: rebeccapurple;
    border-right: 1px solid black;  
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
}

.separator{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1%;
    padding: 2% 0%;
    background-color: gray;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;  
    
}
.equi-devider{
    margin-right: auto;
    margin-left: auto;
}

.x {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    overflow: hidden;
}

.x svg {
    display: block;
    position: relative;
    width: calc(100% + 1.3px);
    height: 150px;

}

pre{
    white-space: pre-wrap;
}

.half-mob-sep{
    width: 29vw;
}

.half-mob{
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.x .shape-fill {
    fill: #8CFF7F;
}

::-webkit-scrollbar{
    width: 5px;
    max-height: 5px;
}

::-webkit-scrollbar-track{
    background-color: rgb(0, 167, 28);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(100, 0, 214);
}

.guide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.guide-content{
    padding: 5%;

}

@media screen and (max-width:800px) {
    .side-wave{
        display: block;
        position: relative;
        z-index: -1;
        width: calc(100% + 1.3px);
        background-image: url("../images/sidewavemobile.svg");
    }


    .end{
        margin-top: 50%;
        background-position: bottom;
    }

    .start{
        top: 1;
        background-position: top;
    }

    .container{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80vw;
        margin: 0%;
        padding: none;
        transform: translate(-52%, 10%);
    }
    #canvas{
        justify-content: center;
        width: 80vw;
        font-size: 80%;
    }

    .tab{
        font-size: 100%;
    }

     .desc{
        display: none;
        width: 0vw;
    }

    .formula-container{

        max-width: fit-content;
        margin-right: auto;
        margin-left: auto;
    }

    .tab-container{
        justify-content: stretch; 
        width: 82.5vw;
        margin: none;
        padding: none;
        overflow-x: scroll;
        box-sizing: border-box;

    }
    .unit{
        display: none;
    }

    .formula{
        align-items: center;
        width: 70vw;
        font-size: 130%;
        justify-self: center;
    }
    .separator{
        width: 70vw;
        margin-top: 2vh;
        font-size: 130%;
        
    }
    .formula-container:active .unit,.formula-container:active .formula,.formula-container:active .desc{
        font-size: 130%;
        /* padding: 0.9% 0%; */
        filter: grayscale(30%);
    }
    .formula-container:hover .unit,.formula-container:hover .formula,.formula-container:hover .desc{
        font-size: 130%;
        /* padding: 0.9% 0%; */
        filter: grayscale(20%);
    }

    .half-mob{
        align-items: baseline;
        /* min-width: fit-content; */
        justify-content: baseline;
        width: 34vw;
        max-width: none;
        margin-right: 1vw;
        margin-left: 1vw;
        border-right: 1px solid black;
        border-left: 1px solid black;
        box-sizing: border-box;
    }

    .separator .half-mob{
        width: 20vw;
    }

}