@import url(../css/base.css);

@keyframes blink-cursor{
	from, to { border-color: transparent }
	50% { border-color: red; }
}

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }

body{
    background-color: var(--dominant);
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	display: flex;
	flex-direction: column;
	width: 100vw;
	justify-content: center;
	align-items: center;
	
}

.welcome{
	font-size: 500%;
	font-family: 'Lato';
	color: var(--accent1);
	display: flex;
	white-space: nowrap;
	justify-content: center;
	/* width: 100vw; */
	max-width: fit-content;
}


.wel-cont{
	background-color: rgb(19, 19, 19);
	width: 100vw;
	display: flex;
	justify-content: center;
	height: 100%;
	padding-bottom: 5%;
	padding-top: 5%;
}

.type{
	overflow: hidden;

	margin: 0 auto;
	animation: 
		typing 2.5s steps(30, end),
		blink-cursor .6s step-end infinite;

	border-right: .2cm solid red;
	box-sizing: border-box;
	color: var(--accent2);
}

.nav-cards{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 0%;
	font-size: 170%;
	position: relative;
	width: 100vw;
	background: rgb(2,0,36);
	background: -moz-linear-gradient(317deg, rgba(2,0,36,1) 0%, rgba(87,0,255,1) 23%, rgba(167,28,255,1) 43%, rgba(237,0,255,1) 60%, rgba(113,19,161,1) 76%, rgba(58,0,187,1) 100%);
	background: -webkit-linear-gradient(317deg, rgba(2,0,36,1) 0%, rgba(87,0,255,1) 23%, rgba(167,28,255,1) 43%, rgba(237,0,255,1) 60%, rgba(113,19,161,1) 76%, rgba(58,0,187,1) 100%);
	background: linear-gradient(317deg, rgba(2,0,36,1) 0%, rgba(87,0,255,1) 23%, rgba(167,28,255,1) 43%, rgba(237,0,255,1) 60%, rgba(113,19,161,1) 76%, rgba(58,0,187,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#3a00bb",GradientType=1);
	padding-top: 5%;
	
}

.nav-card{
	background-color: rgba(41, 41, 41, 0.95);
	margin: 3%;
	z-index: 4;
	border-radius: 10px;
}

.nav-card-bg{
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	aspect-ratio: 900/600;
	background-size: cover;
	background-image: url("../images/wave2.svg");
}



.head{
	text-align: center;
	padding: 5%;
	background-color: rgb(36, 36, 36);
	color: blueviolet;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;


}

.cont{
	padding: 5%;
	text-align: center;
}

.card-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    line-height: 0;
	transform: translate(0%,0);
}

.card-bg svg {

    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 312px;
	grid-column: 1 / span 3;

}

.card-bg .shape-fill {
    fill: rgb(19, 19, 19);
}


.card-bg-down {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(0deg);
	transform: translate(0%, 99%);
}

.card-bg-down svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 96px;
	
}

.card-bg-down .shape-fill {
    fill: rgb(79, 0, 207);
}
.nav-btn{
	background-color: rgb(206, 0, 120);
	color: white;
	font-size: 90%;
	border-radius: 8px;
	padding: 1% 3%;
	cursor: pointer;
	margin: 2% 2% 1% 2%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
	
}

.nav-btn:hover{
	background-color: rgb(190, 2, 120);

}

.nav-btn:active{
	background-color: rgb(180, 2, 100);

}

.buttons{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 2%;
	
}

@media screen and (max-width:700px){
	.welcome{
		flex-direction: column;
		font-size: 30px;
		align-items: center;
	}

	.nav-cards{
	grid-template-columns: repeat(1, 1fr);

	}

	.nav-btn{
		font-size: 50%;
		border-radius: 5px;
	}

	.cont{
		font-size: 70%;
	}
}