<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #mathml_view {
        width: 95vw;
        font-size: 50px;
      }

      .cont {
        height: 90vh;
        width: 99vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>
  <body>
    <label for="">Math ML Here</label>
    <input type="text" name="" id="w" />
    <button id="x">Submit</button>
    <div class="cont">
      <div id="mathml_view">TEXT HERE</div>
    </div>
  </body>
  <script src="./x.js"></script>
</html>
