@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body{min-height:100%;
    background: rgb(52,52,52);
background: radial-gradient(circle, rgba(52,52,52,1) 0%, rgba(29,27,28,1) 100%);-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.container{
    height: 99.5vh;
    max-height: 99.5vh;
    background-color: transparent;
    
}


@layer base{
    .formula-cell-2{
        @apply flex flex-row mx-auto text-center text-2xl font-semibold my-0.5
    ;}


    .formula-cell-2 div {
        @apply hover:scale-[101%] bg-transparent p-2;
    ;}

}
span{
    display: flex;
}

.MathJax.CtxtMenu_Attached_0 .MJX-TEX{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}

.mjx-n{
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}


@layer components{

    .normal .target{
        @apply from-green-500 to-green-700
    ;}
    .important .target{
        @apply from-red-600 to-red-800
    ;}
    .external .target{
        @apply from-slate-500 to-slate-700 
    ;}

    .normal .target, .important .target, .external .target  {
        @apply bg-gradient-to-bl animate-gradient_slide;
    }

    /* .desc{
        display: flex;
        align-items: center;
        justify-content: center;
    } */

    .accordion_title{
        background-image: linear-gradient( 179deg, rgb(0, 0, 0) 9.2%, rgb(77, 77, 77) 103.9% );
    }

    .formula-container{
        display: block !important;
        width: 100% !important;
        word-wrap: break-word !important;
    }

    .formula-cell-2:first-child{
        border-top: 2px black solid;
    }

    .formula-cell-2:last-child{
        border-bottom: 2px black solid;
    }

    .formula-3

    ._jax{
        font-size: 1rem !important;
    }

    .Mui-expanded{
        padding-top: 2rem;
    }
    
    #right_wave_container{
        position: relative;
        z-index: -1;
        height: 100vh;
        max-width: 30vw;
        margin-left: auto;
        overflow-y: hidden;
    }

    #left_wave_container{
        transform: rotate(180deg);
    }

    #right_wave{
        position: absolute;
        top: 0;
        right: 0;
        width:70vw;
        height: 100vh;
    }


}

/* @media (max-width: 640px) {
    .desc{
        display: none;
    }
} */
