@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root{
        @apply bg-background;
    }
    html{
        scrollbar-width: thin;
        scrollbar-color: #6969dd #e0e0e0;
    }
    ::selection{
        /* backdrop-filter: invert(100%);
        z-index: 1000; */
        background: black;
        color:white;
    }
}

.mousegrow{
    transform: scale(1.5);
    border: black 1px solid;
    background-color: rgb(0, 0, 0, 0.2);
}



